/*var*/
:root {
  --main-color: rgb(74, 221, 204);
  --secondary-color: rgb(255, 47, 89);
  --section-padding: 100px;
  --heading-color: #3f4244;
}
/*var end*/
/*خواص اساسية*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*html{
    scroll-behavior: smooth;
}*/
body {
  font-family: "Roboto", sans-serif;
}
ul,
ol {
  list-style: none;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
/*small*/
@media (min-width: 768px) {
  /*من*/
  .container {
    width: 750px;
  }
}
/*midum*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*larg*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*end globel rules*/
/*عناصر مستخدمه بكثره*/
.back {
  background: var(--secondary-color);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 47, 89, 1) 0%,
    rgba(255, 95, 85, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 47, 89, 1) 0%,
    rgba(255, 95, 85, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 47, 89, 1) 0%,
    rgba(255, 95, 85, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff2f59",endColorstr="#ff5f55",GradientType=1);
}
.back-2 {
  background: var(--main-color);
  background: -moz-linear-gradient(
    0deg,
    rgba(74, 221, 204, 1) 0%,
    rgba(94, 240, 201, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(74, 221, 204, 1) 0%,
    rgba(94, 240, 201, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(74, 221, 204, 1) 0%,
    rgba(94, 240, 201, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4addcc",endColorstr="#5ef0c9",GradientType=1);
}
.main-heading {
  text-align: center;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 30px;
  color: #fff;
}
.main-heading + p {
  font-size: 11px;
  text-align: center;
  line-height: 1.6;
  width: 600px;
  max-width: 100%;
  margin: 0 auto 50px;
  font-weight: 300;
  color: #fff;
}
/*button*/
.btn {
  background: var(--secondary-color);
  background: -moz-linear-gradient(
    157deg,
    rgba(255, 100, 85, 1) 29%,
    rgba(255, 49, 89, 1) 100%
  );
  background: -webkit-linear-gradient(
    157deg,
    rgba(255, 100, 85, 1) 29%,
    rgba(255, 49, 89, 1) 100%
  );
  background: linear-gradient(
    157deg,
    rgba(255, 100, 85, 1) 29%,
    rgba(255, 49, 89, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6455",endColorstr="#ff3159",GradientType=1);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  display: block;
  margin: 50px auto 0;
  text-transform: uppercase;
}
/*end Components*/
#to-up {
  background: var(--secondary-color);
  z-index: 10;
  color: var(--main-color);
  border: navajowhite;
  padding: 10px;
  font-weight: bold;
  position: fixed;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
  display: none;
}
/*-------------------------start header------------------------------------------*/
header {
  padding: 20px 0;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container .logo img {
  min-width: 60px;
  max-width: 100%;
  width: 60px;
}
header nav {
  flex: 1; /*ياخذ الماحة المتبقيه*/
  display: flex; /* و فلكس عشان اجيب عناصر الناف جنب بعض*/
  align-items: center;
  justify-content: flex-end; /* بعدتهم عن اللوقو وا يروح اخر الصفحة*/
}
header .container nav .toggle-menu {
  color: #777;
  font-size: 22px;
}
@media (min-width: 768px) {
  header .container nav .toggle-menu {
    display: none;
  }
}
header .container nav ul {
  display: flex;
  z-index: 2;
}
@media (max-width: 767px) {
  header .container nav ul {
    display: none;
  }
  header .container nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-left: 0;
  }
}
header .container nav ul li a {
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  header .container nav ul li {
    margin-bottom: 10px;
  }
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
  background: rgb(34, 193, 195);
  background: -moz-linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(108, 254, 198, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(108, 254, 198, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(108, 254, 198, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#6cfec6",GradientType=1);
  color: #fff;
  border-radius: 10px;
}
@media (max-width: 767px) {
  header .container nav ul li a.active,
  header .container nav ul li a:hover {
    background-color: var(--main-color);
    color: #fff;
    display: block;
    width: 100%;
    border-radius: 0;
  }
}
/*----------------------end header-----------------------------------*/
/*---------------------start lainding-------------------------------*/
.lainding {
  /* background: var(--main-color);*/
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  position: relative;
}
.lainding .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.lainding .info h1 {
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .lainding .info h1 {
    font-size: 19px;
  }
}
/*----------------------------------end lainding-----------------------------*/
/*----------------------------------start features---------------------------*/
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.features .feat-box i {
  font-size: 34px;
  background: var(--main-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  padding: 40px;
  background: var(--main-color);
  background: -moz-linear-gradient(
    0deg,
    rgba(74, 221, 204, 1) 0%,
    rgba(94, 240, 201, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(74, 221, 204, 1) 0%,
    rgba(94, 240, 201, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(74, 221, 204, 1) 0%,
    rgba(94, 240, 201, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4addcc",endColorstr="#5ef0c9",GradientType=1);
}
.features .feat-box .caption {
  text-align: center;
}
@media (max-width: 767px) {
  .features .feat-box:not(:last-child) {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  .features .feat-box .caption {
    padding-bottom: 20px;
  }
}
.features .feat-box h2 {
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 30px;
}
.features .feat-box p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}
/*end features*/
/*strat google page*/
.google-page {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-color);
  height: 500px;
  overflow: hidden;
  position: relative;
}
.google-page img {
  width: 600px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -75px;
  max-width: 100%;
}
/*end google-page*/
/*start fully responsive*/
.fully-responsive {
  padding-top: calc(var(--section-padding) - 50px);
  padding-bottom: calc(var(--section-padding) - 50px);
}
.fully-responsive .container {
  display: flex;
  justify-content: space-evenly;
}
.fully-responsive .image img {
  width: 200px;
}
@media (max-width: 767px) {
  .fully-responsive .container {
    flex-direction: column;
    text-align: center;
  }
  .fully-responsive .image img {
    margin: 0 auto;
  }
}
.fully-responsive .info {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .fully-responsive .info {
    width: 50%;
  }
}
.fully-responsive .info h3 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 25px;
  color: #3f4244;
}
.fully-responsive .info p {
  font-size: 14px;
  line-height: 1.4;
  color: #777;
}
@media (min-width: 768px) {
  .fully-responsive .info button {
    margin: 20px 0 0;
  }
}
.portfolio {
  padding-top: calc(var(--section-padding) - 50px);
  padding-bottom: calc(var(--section-padding) - 50px);
  background-color: var(--main-color);
}
.portfolio .shuffel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio .shuffel li {
  padding-left: 40px;
  text-transform: uppercase;
  font-size: 14px;
}
.portfolio .shuffel li.active,
.portfolio .shuffel li:hover {
  color: #fff;
}
.portfolio .port-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.portfolio .port-container .port {
  background: #fff;
  margin-bottom: 20px;
  margin-bottom: 30px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .portfolio .port-container .port {
    flex-basis: 100%;
  }
}
@media (min-width: 991px) {
  .portfolio .port-container .port {
    flex-basis: calc(90% / 2);
    margin: 15px;
  }
}
@media (min-width: 1200px) {
  .portfolio .port-container .port {
    flex-basis: calc(90% / 3);
  }
}
.portfolio .port-container .port img {
  max-width: 100%;
  transition: 0.3s;
  transition-property: transform;
}
.portfolio .port-container .port:hover img {
  transform: scale(2) rotate(3deg);
}

.portfolio .port-container .port .caption {
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  width: 100%;
}
.portfolio .port-container .port .caption h4 {
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--heading-color);
}
.portfolio .port-container .port .caption p {
  font-weight: 300;
  line-height: 1.4;
  color: #777;
}
.portfolio .port-container + .arrow-sig {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  margin-top: 20px;
}
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../image/shuffle-01.jpg);
  background-size: cover;
  background-color: #233537;
  position: relative;
}
.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}
.stats .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.stats .stat {
  position: relative;
  text-align: center;
}
@media (max-width: 767px) {
  .stats .container {
    flex-direction: column;
  }
  .stats .stat {
    margin-bottom: 30px;
  }
}
.stats .stat .stat-i {
  color: var(--secondary-color);
  font-size: 50px;
  margin-bottom: 30px;
}
.stats .stat .nummer {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}
.stats .stat p {
  color: #ddd;
}
.team {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.team h3,
.team p {
  color: #000;
}
.team .team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team .team-container .box {
  flex-basis: 20%;
}
@media (max-width: 767px) {
  .team .team-container {
    flex-direction: column;
  }
  .team .team-container .box {
    margin-bottom: 30px;
  }
}
.team .team-container .box img {
  max-width: 100%;
}
.team .team-container .box .person {
  padding: 20px;
  text-align: center;
}
.team .team-container .box .person h4 {
  color: var(--heading-color);
  margin: 7px;
}
.team .team-container .box .person p:first-of-type {
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
}
.team .team-container .box .person p:last-of-type {
  font-size: 14px;
  line-height: 1.4;
  color: var(--heading-color);
}
/*start qout*/
.qout {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-color);
}
.qout .text {
  text-align: center;
  color: #fff;
}
.qout p {
  position: relative;
  margin-bottom: 10px;
}
.qout p::before {
  font-family: "font awesome 5 free";
  content: "\f10e";
  font-weight: 900;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: var(--heading-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.qout span {
  font-size: 14px;
  display: block;
}
.qout .angles {
  text-align: center;
  margin: 40px auto 0;
}
.qout .angle-i {
  margin: 0 10px;
  position: relative;
  color: #fff;
}
/* subscribe*/
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-color);
}
.subscribe p {
  text-align: center;
  color: #fff;
}
/* start taps section */
.tap {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--main-color);
}
.tap .taps {
  display: flex;
}
.tap .taps li {
  background: #f6f4f4;
  padding: 20px;
  border-right: 3px solid var(--main-color);
  font-size: 20px;
  font-weight: bold;
  color: var(--heading-color);
  transition: 0.3s;
  cursor: pointer;
}
.tap .taps li.active,
.tap .taps li:hover {
  background-color: #ddd;
  position: relative;
}
.tap .taps li.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
}
.tap .content {
  background-color: #ddd;
  line-height: 1.7;
  font-size: 18px;
  color: var(--heading-color);
}
.tap .content > div {
  padding: 20px;
}
.tap .content > div:not(:first-child) {
  display: none;
}
/* end taps section */
/*--------*/
.about-some {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about-some .container {
  display: flex;
  justify-content: space-between;
}
.about-some .image img {
  width: 400px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about-some .container {
    flex-direction: column;
    text-align: center;
  }
}
.about-some .info {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .about-some .info {
    width: 50%;
  }
}
.about-some .info h3 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  color: #3f4244;
}
.about-some .info p {
  font-size: 12px;
  line-height: 1.4;
  color: #777;
}
.about-some .info p:not(:last-of-type) {
  margin-bottom: 10px;
}
/*modren section*/
.modren-design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--main-color);
  position: relative;
}
.modren-design .container {
  display: flex;
  justify-content: space-around;
}
.modren-design .image img {
  width: 150px;
  max-width: 100%;
  position: absolute;
  bottom: -28px;
}
@media (max-width: 767px) {
  .modren-design .container {
    flex-direction: column;
    text-align: center;
  }
  .modren-design .image img {
    display: none;
  }
}
.modren-design .info {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .modren-design .info {
    width: 50%;
  }
}
.modren-design .info h3 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  color: #3f4244;
}
.modren-design .info p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.4;
  color: #777;
}
/*start clints*/
.clints {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.clints h3,
.clints p {
  color: #000;
}
.clints .clints-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(261px, 1fr));
  gap: 30px;
}
.clints .feat-box {
  background-color: var(--main-color);
  padding: 40px 20px;
}
.clints .feat-box .caption {
  text-align: center;
}

.clints .feat-box h2 {
  font-size: 17px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffff;
  margin-bottom: 10px;
}
.clints .feat-box h6 {
  margin-bottom: 20px;
  font-size: 13px;
  color: var(--heading-color);
}
.clints .feat-box p {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}
/*contant*/
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--secondary-color);
}
.contact form {
  margin: 0 135px 0;
}
.contact input:not(:last-of-type) {
  border: 1px solid #fff;
  outline: 0;
  margin-bottom: 50px;
  padding: 10px;
  background: transparent;
}
.contact input::placeholder {
  color: #fff;
}
.contact input[type="text"] {
  width: 47%;
  margin-right: 5.4%;
}
.contact input[type="email"] {
  width: 47%;
}
@media (max-width: 767px) {
  .contact form {
    margin: 0;
  }
  .contact input:not(:last-of-type) {
    width: 100%;
  }
}
.contact input:nth-child(3) {
  width: 100%;
  margin-bottom: 20px;
}
.contact input[type="submit"] {
  background: var(--heading-color, #3f4244);
  border: none;
  color: #fff;
  padding: 10px 20px;
  display: block;
  margin-left: auto;
}
@media (max-width: 767px) {
  .contact input[type="submit"] {
    margin: auto;
  }
}
/*start map*/
.map {
  background-color: #232e3d;
  /*background-image: image of map;*/
  background-size: cover;
  position: relative;
  min-height: 400px;
}
.map address {
  width: 30%;
  padding: 25px 30px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  line-height: 2;
  color: #fff;
  right: 50px;
}
@media (max-width: 767px) {
  .map address {
    width: fit-content;
    padding: 10px 20px;
  }
}
.copyright {
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: var(--heading-color);
}
.copyright span {
  color: var(--main-color);
}
